.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  background: $clr-dark-blue;

  .spinner {
    border: 0.4em solid rgba($clr-white-rgb, 0.1); /* Light background color */
    border-top: 0.4em solid $clr-main; /* Spinner color */
    border-radius: 50%;
    width: 10vw; /* Relative to viewport width */
    height: 10vw; /* Relative to viewport width */
    animation: spin 1s linear infinite;
    margin-bottom: 2vw; /* Space between spinner and counter */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading-counter {
    color: $clr-white;
    font-size: 2vw; /* Relative to viewport width */
    font-weight: 600;
  }
}
